@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gtx58d');
  src:  url('../fonts/icomoon.eot?gtx58d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gtx58d') format('truetype'),
    url('../fonts/icomoon.woff?gtx58d') format('woff'),
    url('../fonts/icomoon.svg?gtx58d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-desktop:before {
  content: "\e002";
}
.icon-camera:before {
  content: "\e012";
}
.icon-flag:before {
  content: "\e024";
}
.icon-gears:before {
  content: "\e02b";
}
.icon-tools:before {
  content: "\e033";
}
.icon-linegraph:before {
  content: "\e039";
}
.icon-strategy:before {
  content: "\e03b";
}
.icon-hotairballoon:before {
  content: "\e044";
}
.icon-chat:before {
  content: "\e049";
}
.icon-heart:before {
  content: "\e04a";
}
.icon-clock:before {
  content: "\e055";
}
.icon-quote:before {
  content: "\e057";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-chevron-down:before{
  content: "\f078";
}
.icon-copyright:before {
  content: "\f1f9";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-check:before {
  content: "\f00c";
}
.icon-briefcase:before {
  content: "\f0b1";
}